# macOS
._*
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
# Linux
*~
.Trash-*
.directory
.fuse_hidden*
# Node.js
/*-debug.log*
/*-error.log*
/logs
/coverage
/node_modules/
/.npm
/.next
/out
/dist
/.eslintcache
/.stylelintcache
# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/.env*.local
# Claude Code plugins
.remember/
# Editors&IDEs
*~
tags
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
*.vsix
*.vscode/*.code-workspace
.idea
.~lock.*#
*.tmp
~$*.doc*
~$*.dot*
~$*.xls*
~$*.ppt*
secring.*
random_defaults.code-workspace
src/source_data/**/*.csv
src/source_data/**/*.zip
src/source_data/**/*.tar
src/source_data/**/*.tar.*
src/source_data/**/*.gzg
src/source_data/**/*.gz
src/source_data/**/*.bz2
src/source_data/**/*.xz
src/source_data/**/*.rar
src/source_data/word_mapping_csvs/**/*.json
src/source_data/unmappable_csvs/**/*.json
src/source_data/samples.json
src/source_data/word_data/*.json
src/source_data/Dialaektatlas_2025_150dpi.pdf
src/source_data/word_pdf_pages/
src/source_data/word-pdf-toc.json
src/source_data/word-pdf-page-index.json
